/* disabled links are disabled */
a[disabled], a[disabled]:hover {
    pointer-events: none;
    color: #e1e1e1;
}

div.react-tooltip {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 12px 2px 12px;
}
